@{
    ViewData["Title"] = "Admin Översikt";
}

<h2>Admin Översikt</h2>

<p>Välkommen till Admin-översikten. Här kan du hantera systemet.</p>

<a asp-controller="Event" asp-action="GetNotifications" class="btn btn-info">Visa Notifieringar</a>