@{
    ViewData["Title"] = "Employee Översikt";
}

<h2>Employee Översikt</h2>

<p>Välkommen till Employee-översikten. Här kan du hantera förare och händelser.</p>

<a asp-controller="Event" asp-action="GetNotifications" class="btn btn-info">Visa Notifieringar</a>